lambda/get_user/getUser.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Get user",
  "States": {
    "Get user": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "users",
        "Key": {
          "id": {
            "S.$": "$.username"
          }
        }
      },
      "Next": "Found?",
      "ResultSelector": {
        "username.$": "$.Item.id.S",
        "password.$": "$.Item.password.S",
        "email.$": "$.Item.email.S",
        "phone_number.$": "$.Item.phone_number.S"
      }
    },
    "Found?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.username",
          "IsPresent": true,
          "Next": "Success"
        }
      ],
      "Default": "Fail"
    },
    "Success": {
      "Type": "Succeed"
    },
    "Fail": {
      "Type": "Fail",
      "Error": "UsernameNotFound"
    }
  }
}